<footer><!-- inicio footer seccion -->
    <nav class="container">
        <img src="../../img/branding/isotype.svg" alt="isotipo de la marca funco.com">
        <ul>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/admin/register">REGISTRARSE</a></li>
            <li><a href="/admin/login">INGRESAR</a></li>
            <li><a href="/contact">CONTACTO</a></li>
        </ul>
    </nav>
    <p style="font-size: 20px;">All rights reserved 2023 - Funkoshop &copy</p>
</footer><!-- fin footer seccion -->