<footer><!-- inicio footer seccion -->
    <nav class="container">
        <img src="./img/branding/isotype.svg" alt="isotipo de la marca funco.com">
        <ul>
            <li><a href="./pages/shop/shop.html">SHOP</a></li>
            <li><a href="./pages/admin/login.html">INGRESAR</a></li>
            <li><a href="./pages/shop/contact.html">CONTACTO</a></li>
        </ul>
    </nav>
    <p style="font-size: 20px;">All rights reserved 2023 - Funkoshop &copy</p>
</footer><!-- fin footer seccion -->

