.footerFlex {
    display: flex;
    flex-flow: row-reverse;
    height: 274px;
    align-items: center;
    gap: 958px;
    
}
footer nav img {
    width: 143px;
height: 116.189px;
flex-shrink: 0;
}

footer nav ul li {
    padding-top: 7.5px;
}

footer p {
    padding: 23px;
    padding-left: 40%;
    height: 66px;
    width: 100%;
}