/* configuración banner */
.caracte-banner {
    background-image: url(../../img/funkos-banner.webp);
    background-size: 100%;
    height: 344px;
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    position: relative;
    padding-top: 10.5em;
}

h2 {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
    font-style: normal;
}

h3 {
    font-size: var(--font-jumbo);
    width: 441px;
    text-transform: uppercase;
    font-style: normal;
}

h4 {
    font-family: var(--base-font);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    padding-left: 13px;
}

/* botones */
/* boton fondo blanco letras negras */
.boton-shop {
    display: inline-block;
    width: 211px;
    height: 47px;
    border-radius: 50px;
    background: var(--light-font-solid);
    color: var(--dark-solid);
}

/* boton fondo gris oscuro letras blancas */
.boton-shop1 {
    display: inline-block;
    width: 291.8px;
    height: 65px;
    border-radius: 50px;
    background: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-size: 24px;
}

/* boton fondo ROJO letras blancas */
.boton-nuevo {
    position: absolute;
    top: 0%;
    right: 0%;
    display: inline-block;
    width: 96.127px;
    height: 30px;
    background: var(--primary-solid);
    border: var(--primary-solid);
    color: var(--light-font-solid);
    
}

/* Configuración main de tienda flex box horizontal de izq a der*/
.texto-ima {

    display: flex;
    flex-flow: row;
    align-items: center;
    font-family: var(--alternative-font)
}

/* Configuración main de tienda flex box horizontal de der a izq*/
.texto-ima-rev {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    font-family: var(--alternative-font);
}

/* Configuración  flex box de items horizontal de tres izq a der*/
.texto-ima-3 {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 71, 55px;
    margin-top: 57px;
    margin-right: 71, 55px;
    margin-bottom: 68px;
    font-family: var(--base-font);
}

#primer-tex {
    color: var(--dark-bg-solid);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 13px;
}

#segundo-tex {
    color: var(--dark-bg-solid);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 13px;
}

#tercer-tex {
    color: var(--secondary-solid);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-left: 13px;
}

.linea-3 {
    position: relative;
    width: 645px;
    height: 3px;
    background: var(--primary-solid);
}

.img-card-wars {
    position: relative;
    background-image: url(../../img/star-wars/trooper-1.webp);
    background-size: 100%;
    width: 359px;
    height: 352px;
}

.img-card-pokemon {
    
    background-image: url(../../img/pokemon/pidgeotto-1.webp);
    position: relative;
    background-size: 100%;
    width: 359px;
    height: 352px;
}

.img-card-potter {
    background-image: url(../../img/harry-potter/luna-1.webp);
    position: relative;
    background-size: 100%;
    width: 359px;
    height: 352px;
}