<%- include('../partials/headerAdmin.ejs') %>
    <main class="register-all"><!-- inicio cuerpo principal -->
        <div class="register">
            <span class="register-box">
                <section><!-- Inicio de primera fila -->
                    <span class="register-header">
                        <h1>CREA TU CUENTA</h1>
                    </span>
                </section><!-- fin de la primera fila -->

                <section><!-- inicio de la segunda fila -->
                    <div class="texto">Completa el formulario para ser parte del mundo de los Funkos</div>
                </section><!-- fin de la segunda fila -->

                <div class="datos-reg"><!-- inicio de la tercera fila -->
                    <section>
                        <div>
                            <ul class="datospersonales">
                                <li>
                                    <form class="datospersonales1" action="#">
                                        <label class="txt" for="nombre">Nombre:</label>
                                        <input class="complete" type="nombre" id="nombre" name="nombre" placeholder="John">
                                    </form>
                                </li>
                                <li>
                                    <form class="datospersonales1" action="#">
                                        <label class="txt" for="apellido">Apellido:</label>
                                        <input class="complete" type="apellido" id="apellido" name="apellido" placeholder="Doe">
                                    </form>
                                </li>
                                <li>
                                    <form class="datospersonales1" action="#">
                                        <label class="txt" for="email">Email:</label>
                                        <input class="complete" type="email" id="email" name="email" placeholder="johndoe@correo.com">
                                    </form>
                                </li>
                                <li>
                                    <form class="datospersonales1" action="#">
                                        <label class="txt" for="pwd">Contraseña:</label>
                                        <input class="complete" type="password" id="pwd1" name="pwd" placeholder=" ">
                                    </form>
                                </li>
                                <li>
                                    <form class="datospersonales1" action="#">
                                        <label class="txt" for="pwd">Repita Contraseña:</label>
                                        <input class="complete" type="password" id="pwd1" name="pwd" placeholder=" ">
                                    </form>
                                </li>
                            </ul>
                            <section class="regisYaceptar">
                                <span class="datospers2">
                                    <input class="boton" type="submit" value="Registrar">
                                </span>
                                <span class="datospers3">
                                    <form action="#">
                                        <input type="checkbox" id="acep" name="acep" value="aceptar">
                                        <label class="txt2" for="acep"> Acepto <a class="txt3" href="#">Términos y Condiciones</a></label><br>
                                    </form>
                                </span>
                            </section>
                        </div>
                    </section>
                </div><!-- fin de la tercera fila -->
            </span>
        </div>
    </main><!-- fin cuerpo principal -->

    <%- include('../partials/footerAdmin.ejs') %>
</body>
</html>