<section class="slider container glide "><!-- inicio cuarta seccion -->
    <h2 class="slider__title">Últimos lanzamientos</h2>
    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides">
            <li class="slider__item glide__slide "><!-- inicio cuarta seccion primer articulo -->
                <article>
                    <a class="card-item__link" href="./pages/shop/item.html">
                        <picture class="card-item__cover">
                            <span class="card-item__tag">NUEVO</span>
                            <img class="card-item__img--front" src="./img/star-wars/trooper-1.webp" alt="figura coleccionable funko star wars trooper">
                            <img class="card-item__img--back" src="./img/star-wars/trooper-box.webp" alt="figura coleccionable funko star wars trooper box">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">STAR WARS</p>
                            <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li><!-- fin cuarta seccion primer articulo -->

            <li class="slider__item glide__slide"><!-- inicio cuarta seccion segundo articulo -->
                <article>
                    <a class="card-item__link" href="./pages/shop/item.html">
                        <picture class="card-item__cover">
                            <span class="card-item__tag">NUEVO</span>
                            <img class="card-item__img--front" src="./img/pokemon/pidgeotto-1.webp" alt="figura coleccionable funko pokemon pidgeotto">
                            <img class="card-item__img--back" src="./img/pokemon/pidgeotto-box.webp" alt="figura coleccionable funko pokemon pidgeotto box">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">POKEMON</p>
                            <h4 class="card-item__name">PIDGEOTTO</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a>
                </article>
            </li><!-- fin cuarta seccion segundo articulo -->

            <li class="slider__item glide__slide"><!-- inicio cuarta seccion tercer articulo -->
                <article>
                    <a class="card-item__link" href="./pages/shop/item.html">
                        <picture class="card-item__cover">
                            <span class="card-item__tag">NUEVO</span>
                            <img class="card-item__img--front" src="./img/harry-potter/luna-1.webp" alt="figura coleccionable funko Harru-potter luna">
                            <img class="card-item__img--back" src="./img/harry-potter/luna-box.webp" alt="figura coleccionable funko Harru-potter luna box">
                        </picture>
                        <div class="card-item__content">
                            <p class="card-item__licence">HARRY POTTER</p>
                            <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                    </a> <!-- fin cuarta seccion tercer articulo -->
                </article>
            </li>
        </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="ic:round-chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="ic:round-chevron-right"></iconify-icon></button>
    </div>
</section>
